<template>
  <q-page class="flex content-start items-start justify-center q-pb-lg">
    <div class="row fixed-width with-background q-col-gutter-lg">
      <h1 class="col-12 q-mb-sm text-h4 text-uppercase text-white">{{ $t('yourSites') }}</h1>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <router-link :to="{name: 'dashboard-sites-new'}">
          <q-card class="site new cursor-pointer flex flex-center text-primary">
            <q-card-section class="text-center">
              <q-icon name="add" />
              <span class="q-mt-sm block text-uppercase text-bold">{{ $t('addSite') }}</span>
            </q-card-section>
          </q-card>
        </router-link>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        v-for="site in sites"
        :key="site.id"
      >
        <q-card
          class="site cursor-pointer column justify-between q-pa-md text-black"
          @click="$router.push({name: 'dashboard-sites-show', params: {id: site.id}})"
        >
          <div class="row items-center no-wrap">
            <h2 class="col q-mt-none q-mb-none text-h5 ellipsis-2-lines wb">{{site.title}}</h2>
            <div class="col-auto">
              <q-btn
                color="grey-7"
                round
                flat
                icon="more_vert"
                @click.stop=""
              >
                <q-menu auto-close>
                  <q-list>
                    <q-item
                      clickable
                      @click="openConfirmDelete(site)"
                    >
                      <q-item-section>Remove Site</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </div>
          <span class="text-grey-7">{{site.url}}.yilink.pro</span>
        </q-card>
      </div>
    </div>
    <q-dialog
      v-model="confirmDialog"
      persistent
    >
      <q-card>
        <q-card-section class="row justify-center items-center">
          <span>{{ $t('deleteSiteWarning', {siteTitle: selectedSite.title}) }}</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            :label="$t('close')"
            color="primary"
            v-close-popup
          />
          <q-btn
            :label="$t('confirm')"
            color="negative"
            @click="deleteSite()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import { asyncLoading } from 'src/services/utils'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'PageIndex',
  data: () => ({
    confirmDialog: false,
    selectedSite: {}
  }),
  computed: {
    ...mapState({
      sites: state => state.db.sites.items
    })
  },
  preFetch ({ store }) {
    if (store.state.db.sites.bound &&
        !isEmpty(store.state.db.sites)) return

    asyncLoading(store.dispatch, 'db/sites/bind')
  },
  methods: {
    async deleteSite () {
      await asyncLoading(this.$store.dispatch, 'db/sites/delete', this.selectedSite.id)
      this.confirmDialog = false
    },
    openConfirmDelete (site) {
      this.confirmDialog = true
      this.selectedSite = site
    }
  }
}
</script>

<style lang="scss" scoped>
  .site {
    min-height: 200px;

    &.new {
      i {
        font-size: 40px;
      }
    }
  }
</style>
