<template>
  <q-page class="flex content-start items-start justify-center q-pb-lg">
    <div class="column fixed-width with-background q-gutter-lg">
      <h1 class="col-xs-12 q-mt-xl text-h4 text-uppercase text-white">
        <q-btn
          round
          flat
          icon="arrow_back"
          color="white"
          @click="$router.go(-1)"
        />
        {{ $t('newSite') }}
      </h1>
      <q-stepper
        class="col-xs-12"
        v-model="step"
        ref="stepper"
        color="primary"
        animated
        vertical
      >
        <q-step
          :name="1"
          title="General information"
          icon="settings"
          done-color="positive"
          error-color="negative"
          :done="step > 1"
        >
          <q-form
            ref="generalForm"
            class="q-gutter-y-md"
          >
            <q-input
              v-model="form.url"
              :label="$t('siteAddress')"
              counter
              maxlength="15"
              outlined
              :rules="[$validation.url, $validation.required]"
              suffix=".yilink.pro"
              :loading="urlChecked"
              @change="checkUrl"
              :error="!!errors.url"
              :error-message="errors.url"
            />
            <q-input
              v-model="form.title"
              :label="$t('siteTitle')"
              counter
              outlined
              :rules="[$validation.required]"
            />
          </q-form>
        </q-step>

        <q-step
          :name="2"
          title="Styling"
          caption="Optional"
          icon="create_new_folder"
          done-color="positive"
          error-color="negative"
          :done="step > 2"
          :disable="!validationSuccess"
        >
          An ad group contains one or more ads which target a shared set of keywords.
        </q-step>

        <template v-slot:navigation>
          <q-stepper-navigation>
            <q-btn
              @click="nextStep"
              color="primary"
              label="Continue"
              v-if="step < 2"
            />
            <q-btn
              @click="add"
              color="primary"
              label="Finish"
              v-if="step === 2"
            />
            <q-btn
              v-if="step > 1"
              flat
              color="primary"
              @click="$refs.stepper.previous()"
              label="Back"
              class="q-ml-sm"
            />
          </q-stepper-navigation>
        </template>

      </q-stepper>
    </div>
  </q-page>
</template>

<script>
import { asyncLoading, isDeepEmpty } from 'src/services/utils'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'DashboardSitesNew',
  data () {
    return {
      step: 1,
      validationSuccess: false,
      urlChecked: false,
      form: {
        url: '',
        title: ''
      },
      errors: {
        url: null
      }
    }
  },
  methods: {
    async nextStep () {
      if (!isDeepEmpty(this.errors)) {
        return
      }

      this.validationSuccess = await this.$refs.generalForm.validate()

      await this.$nextTick()

      this.$refs.stepper.next()
    },
    async add () {
      const res = await asyncLoading(this.$store.dispatch, 'db/sites/add', this.form)
      this.$router.push({ name: 'dashboard-sites-show', params: { id: res.id } })
    },
    async checkUrl () {
      if (isEmpty(this.form.url)) {
        this.errors.url = null
      }

      try {
        this.urlChecked = true
        const { empty } = await this.$store.dispatch('db/sites/checkUrl', this.form.url)

        if (!empty) {
          this.errors.url = this.$t('validation.urlExists')
        }
      } catch (e) {
        this.$notify.error(this.$t('somethingError'))
      } finally {
        this.urlChecked = false
      }
    }
  }
}
</script>

<style>
</style>
