<template>
  <q-page
    class="flex justify-center wrap q-pb-sm"
    :class="{' bg-grey-1': $q.platform.is.desktop, [$style.page]: true}"
  >
    <site-nav v-if="$q.platform.is.desktop"></site-nav>
    <component :is="activeTab"></component>
  </q-page>
</template>

<script>
import { asyncLoading } from 'src/services/utils'
import { notifyError } from 'boot/notify'
import { i18n } from 'boot/i18n'
import { mapState } from 'vuex'

import SiteNav from 'components/nav/Site'

export default {
  name: 'DashboardSitesShow',
  components: {
    SiteNav,
    Builder: () => import('components/sites/Builder'),
    Theme: () => import('components/sites/Theme'),
    Settings: () => import('components/sites/Settings')
  },
  data: () => ({
  }),
  computed: {
    siteId () {
      return this.$route.params.id
    },
    ...mapState({
      activeTab: state => state.site.activeTab
    })
  },
  async preFetch ({ store, currentRoute, redirect }) {
    try {
      await asyncLoading(store.dispatch, 'site/bindAll', currentRoute.params.id)
    } catch (e) {
      switch (e.code) {
        case 'permission-denied':
          notifyError(i18n.t('permissionDenied'))
          redirect({ name: 'dashboard' })
          break
      }
    }
  },
  destroyed () {
    this.$store.dispatch('site/unbindAll')
  }
}
</script>

<style lang="scss" module>
  .page {
    @media (max-width: $breakpoint-xs-max) {
      justify-content: flex-start;
    }
  }
</style>
