<template>
  <p class="text">{{ data.text }}</p>
</template>

<script>
import widgetMixin from 'src/mixins/widgetMixin'

export default {
  name: 'TextWidget',
  mixins: [widgetMixin]
}
</script>

<style lang="scss" scoped>
  @import "src/css/mixins";

  .text {
    font-size: 1.125rem;
    line-height: 1.5em;

    @include default-widget-style;
  }
</style>
