<template>
  <h2 class="title">{{ data.title }}</h2>
</template>

<script>
import widgetMixin from 'src/mixins/widgetMixin'

export default {
  name: 'TitleWidget',
  mixins: [widgetMixin]
}
</script>

<style lang="scss" scoped>
  @import "src/css/mixins";

  .title {
    font-size: 2.25rem;
    line-height: 1.5em;
    font-weight: 300;

    @include default-widget-style;
  }
</style>
