<template>
  <q-page class="flex flex-center">
    <div class="flex flex-center items-stretch column q-gutter-md">
      <h1 class="text-h3 text-white text-uppercase text-bold">YILink</h1>
      <q-btn
        outline
        rounded
        color="white"
        :label="$t('auth.signIn')"
        :to="{name: 'login'}"
      />
      <span class="text-h5 text-uppercase text-center text-grey-5">{{ $t('or') }}</span>
      <q-btn
        outline
        rounded
        color="white"
        :label="$t('auth.signUp')"
        :to="{name: 'registration'}"
      />
    </div>
  </q-page>
</template>

<script>
export default {
  created () {
  }
}
</script>

<style>
</style>
