<template>
  <q-page class="row content-center justify-center q-gutter-y-md q-mt-none">
    <q-form
      class="col-lg-3 col-md-4 col q-gutter-y-sm bg-white q-pa-lg"
      @submit="signIn"
    >
      <h1 class="text-h5 text-uppercase row justify-between items-center text-bold q-mb-lg">
        Login
        <q-btn
          round
          flat
          :to="{name: 'index'}"
          color="grey-6"
          icon="close"
        />
      </h1>
      <q-input
        required
        v-model="email.value"
        type="email"
        :label="$t('auth.email')"
        :error="!!email.error"
        :error-message="email.error"
        :rules="[$validation.required, $validation.email]"
        @change="email.error = null"
      />

      <q-input
        required
        :type="isPwd ? 'password' : 'text'"
        v-model="password.value"
        :label="$t('auth.password')"
        :rules="[$validation.required]"
        :error="!!password.error"
        :error-message="password.error"
        @change="email.error = null"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility' : 'visibility_off'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <div class="q-mt-md">
        <q-btn
          rounded
          :label="$t('auth.signIn')"
          type="submit"
          color="primary"
          class="full-width q-mb-lg text-center"
          :loading="loading"
        />
        <div class="text-center">
          <span class="text-grey-8 q-mr-xs">{{ $t('auth.notMember') }}</span>
          <router-link :to="{name: 'registration'}">{{ $t('auth.signUp') }}</router-link>
        </div>
      </div>
    </q-form>
  </q-page>
</template>

<script>
export default {
  data: () => ({
    isPwd: true,
    email: {
      value: '',
      error: null
    },
    password: {
      value: '',
      error: null
    },
    loading: false
  }),
  computed: {
    redirectPath () {
      return this.$route.query.redirect || 'dashboard'
    }
  },
  methods: {
    signIn () {
      this.loading = true
      this.$auth.signInWithEmailAndPassword(this.email.value, this.password.value)
        .then(res => {
          this.$router.push({ name: this.redirectPath })
        }).catch(e => {
          switch (e.code) {
            case 'auth/user-not-found':
              this.email.error = this.$t(`auth.errors.${e.code}`)
              break
            case 'auth/wrong-password':
              this.password.error = this.$t(`auth.errors.${e.code}`)
              break
          }
        }).finally(() => {
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  .q-page {
    @media (max-width: $breakpoint-sm-max) {
      align-content: unset;

      .q-form {
        margin: 0;
      }
    }
  }
</style>
.value
