<template>
  <div class="q-page flex content-start items-start justify-center q-pb-lg">
    <div class="row fixed-width with-background q-col-gutter-lg">
      <h1 class="col-xs-12 q-mt-xl text-h4 text-uppercase text-white">
        <q-btn
          round
          flat
          icon="arrow_back"
          color="white"
          @click="$router.go(-1)"
        />
        {{ $t('profile') }}
      </h1>
      <div class="col-xs-12">
        <q-card>
          <q-card-section>
            <q-item>
              <q-item-section avatar>
                <q-btn
                  round
                  size="xl"
                >
                  <q-avatar
                    size="64px"
                    @click="selectAvatar"
                  >
                    <img :src="user.avatarUrl">
                    <input
                      type="file"
                      ref="avatarInput"
                      @change="uploadAvatar"
                    >
                    <q-inner-loading :showing="loading">
                      <q-spinner
                        size="32px"
                        color="primary"
                      />
                    </q-inner-loading>
                  </q-avatar>
                </q-btn>
              </q-item-section>
              <q-item-section>
                <q-item-label lines="1">{{ user.displayName }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import first from 'lodash/first'

export default {
  data: () => ({
    loading: false
  }),
  computed: {
    ...mapState({
      user: state => state.user.data
    }),
    storageRef () {
      return this.$storage.ref('avatars')
    }
  },
  mounted () {
  },
  methods: {
    selectAvatar () {
      this.$refs.avatarInput.click()
    },
    async uploadAvatar () {
      const file = first(this.$refs.avatarInput.files)

      if (!file) return

      try {
        this.loading = true
        const fileName = `${this.user.displayName.toLowerCase()}_avatar`
        const uploadRef = this.storageRef.child(fileName)
        const photoURL = `gs://${uploadRef.bucket}/${uploadRef.fullPath}`

        await uploadRef.put(file)
        await this.$auth.currentUser.updateProfile({ photoURL })
        await this.$store.dispatch('fetchUser', this.$auth.currentUser)
      } catch (e) {
        this.$notify.error(e.message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
</style>
