<template>
  <div class="device device-iphone-x">
    <div class="device-frame">
      <div class="device-content">
        <slot></slot>
      </div>
    </div>
    <div class="device-stripe"></div>
    <div class="device-header"></div>
    <div class="device-sensors"></div>
    <div class="device-btns"></div>
    <div class="device-power"></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
  $device-silver: #e2e3e4;
  $device-silver-dark: darken(#222, 10%);
  $device-silver-panel: #222;

  @media (min-width: $breakpoint-sm-min) {
    .device,
    .device * {
      &,
      &::before,
      &::after {
        box-sizing: border-box;
        display: block;
      }
    }

    .device {
      position: relative;
      transform: scale(1);
      z-index: 1;

      .device-frame {
        z-index: 1;
      }

      .device-content {
        background-color: #fff;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
        position: relative;
      }
    }

    .device-iphone-x {
      height: 868px;
      width: 428px;

      .device-frame {
        background: $device-silver-panel;
        border-radius: 68px;
        box-shadow: inset 0 0 2px 2px $device-silver-dark,
          inset 0 0 0 7px $device-silver;
        height: 868px;
        padding: 28px;
        width: 428px;
      }

      .device-content {
        border-radius: 40px;
        height: 100%;
        width: 375px;
        overflow-x: hidden;
      }

      .device-stripe {
        &::after,
        &::before {
          border: solid rgba(#333, 0.25);
          border-width: 0 7px;
          content: "";
          height: 7px;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 9;
        }
        &::after {
          top: 85px;
        }
        &::before {
          bottom: 85px;
        }
      }

      .device-header {
        background: $device-silver-panel;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 30px;
        left: 50%;
        margin-left: -102px;
        position: absolute;
        top: 28px;
        width: 204px;

        &::after,
        &::before {
          content: "";
          height: 10px;
          position: absolute;
          top: 0;
          width: 10px;
        }
        &::after {
          background: radial-gradient(
            circle at bottom left,
            transparent 0,
            transparent 75%,
            $device-silver-panel 75%,
            $device-silver-panel 100%
          );
          left: -10px;
        }
        &::before {
          background: radial-gradient(
            circle at bottom right,
            transparent 0,
            transparent 75%,
            $device-silver-panel 75%,
            $device-silver-panel 100%
          );
          right: -10px;
        }
      }

      .device-sensors {
        &::after,
        &::before {
          content: "";
          position: absolute;
        }
        &::after {
          background: #444;
          border-radius: 3px;
          height: 6px;
          left: 50%;
          margin-left: -25px;
          top: 32px;
          width: 50px;
        }
        &::before {
          background: #444;
          border-radius: 50%;
          height: 14px;
          left: 50%;
          margin-left: 40px;
          top: 28px;
          width: 14px;
        }
      }

      .device-btns {
        background: $device-silver-dark;
        height: 32px;
        left: -3px;
        position: absolute;
        top: 115px;
        width: 3px;

        &::after,
        &::before {
          background: $device-silver-dark;
          content: "";
          height: 62px;
          left: 0;
          position: absolute;
          width: 3px;
        }

        &::after {
          top: 60px;
        }
        &::before {
          top: 140px;
        }
      }

      .device-power {
        background: $device-silver-dark;
        height: 100px;
        right: -3px;
        position: absolute;
        top: 200px;
        width: 3px;
      }
    }
  }

  @media (max-width: $breakpoint-xs-max) {
    .device {
      width: 100%;
    }
  }
</style>
