<template>
  <div class="widget">
    <template ref="widget">
      <component
        :is="normalizeWidgetType(widget.type)"
        :data="widget"
        class="cursor-pointer"
      ></component>
    </template>
    <q-menu
      touch-position
      :target="$refs.widget"
    >
      <q-item-section>
        <q-list>
          <q-item
            v-close-popup
            clickable
            @click="$emit('edit', widget)"
          >
            <q-item-section avatar>
              <q-icon name="edit" />
            </q-item-section>
            <q-item-section>{{ $t('edit') }}</q-item-section>
          </q-item>
          <q-separator />
          <q-item
            v-close-popup
            clickable
            class="bg-negative text-white"
            @click="deleteWidget(widget.id)"
          >
            <q-item-section avatar>
              <q-icon name="delete" />
            </q-item-section>
            <q-item-section>{{ $t('remove') }}</q-item-section>
          </q-item>
        </q-list>
      </q-item-section>
    </q-menu>
  </div>
</template>

<script>
import { normalizeWidgetType, asyncLoading } from 'src/services/utils'

export default {
  name: 'Widget',
  props: {
    value: {
      type: Object,
      default: () => { }
    },
    widget: {
      type: Object,
      required: true
    }
  },
  methods: {
    normalizeWidgetType,
    deleteWidget (id) {
      asyncLoading(this.$store.dispatch, 'db/widgets/delete', id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .widget {
    user-select: none;

    &.sortable-chosen {
      opacity: 0.5;
    }
  }
</style>
