// @import "components/render-loader.scss";
@import "mixins.scss";

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.row-background {
  margin-bottom: -200px;
}

.row,
.column {
  &.fixed-width {
    width: 980px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &.with-background {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: $primary;
      left: 50%;
      right: calc(50% - 12px);
      margin-left: -50vw;
      margin-right: -50vw;
      height: 250px;
      z-index: -1;
    }
  }
}

.wb {
  word-break: break-all;
}
