<template>
  <div>
    <device>
      <q-scroll-area
        class="full-height"
        :thumb-style="{width: 0}"
      >
        <draggable
          group="widgets"
          ghost-class="bg-deep-purple-1"
          animation="200"
          delay="100"
          v-model="widgets"
        >
          <transition-group
            tag="div"
            type="transition"
            class="widgets flex column"
          >
            <widget
              v-for="widget in widgets"
              :key="widget.id"
              :widget="widget"
              :ref="widget.id"
              @edit="activeWidget = $event"
            ></widget>
          </transition-group>
        </draggable>
      </q-scroll-area>
    </device>
    <q-page-sticky
      position="bottom-right"
      :offset="[30, 30]"
    >
      <q-btn
        fab
        icon="add"
        color="secondary"
        @click="showWidgetsList"
      />
    </q-page-sticky>
    <widget-edit-form v-model="activeWidget"></widget-edit-form>
  </div>
</template>

<script>
import Draggable from 'vuedraggable'

import WidgetEditForm from 'components/forms/WidgetEdit'
import Widget from 'components/Widget'
import Device from 'components/Device'
import { asyncLoading } from 'src/services/utils'
import * as widgetTypes from 'src/models/widget'

export default {
  components: { WidgetEditForm, Widget, Draggable, Device },
  data: () => ({
    activeWidget: {}
  }),
  computed: {
    widgets: {
      get () {
        return this.$store.state.db.widgets.items
      },
      set (list) {
        const data = list.map((el, i) => ({ id: el.id, order: i }))
        asyncLoading(this.$store.dispatch, 'db/widgets/updateAll', data)
      }
    },
    siteId () {
      return this.$route.params.id
    }
  },
  methods: {
    showWidgetsList () {
      this.$q.bottomSheet({
        message: this.$t('availableWidgets'),
        grid: true,
        actions: Object.values(widgetTypes)
      }).onOk(data => asyncLoading(this.$store.dispatch, 'db/widgets/add', data))
    }
  }
}
</script>

<style lang="scss" scoped>
  .widgets {
    padding: 40px 0 15px;

    @media (max-width: $breakpoint-xs-max) {
      padding-top: 0;
    }
  }
</style>
