<template>
  <q-layout>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
  .q-layout {
    background: linear-gradient(0deg, rgba($primary, 0.6), rgba($primary, 0.6)),
      url("~assets/common-bg.jpg");
    background-size: cover;
  }
</style>
