<template>
  <q-layout :view="layoutView">
    <q-header
      class="q-px-sm"
      :class="{'bg-grey-1': !primaryHeader}"
      v-if="showHeader"
    >
      <q-toolbar :class="{'text-grey-10': !primaryHeader}">
        <q-toolbar-title>
          YILink
        </q-toolbar-title>

        <q-space></q-space>

        <profile-drawer />
      </q-toolbar>

    </q-header>

    <platform-nav v-if="!hideDraver" />

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import ProfileDrawer from 'components/nav/ProfileDrawer'
import PlatformNav from 'components/nav/PlatformNav'

export default {
  name: 'Dashboard',
  components: { ProfileDrawer, PlatformNav },
  data () {
    return {
    }
  },
  computed: {
    hideDraver () {
      return this.$route.meta.hideDraver || false
    },
    layoutView () {
      return this.$route.meta.layoutView || 'lhh lpr lFf'
    },
    primaryHeader () {
      return this.$route.meta.primaryHeader || false
    },
    showHeader () {
      return this.$q.platform.is.desktop || this.$route.meta.showHeader
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
