<template>
  <q-drawer
    v-model="drawerOpen"
    show-if-above
    bordered
    :overlay="overlayDraver"
    :content-class="`text-grey-3 ${$style.drawer}`"
  >
    <q-list>
      <q-item-label
        header
        class="text-white"
      >{{ $t('essentialLinks') }}</q-item-label>
      <q-item
        :to="{name: 'dashboard'}"
        exact
        exact-active-class="text-white"
      >
        <q-item-section avatar>
          <q-icon name="dashboard" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ $t('dashboard') }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        :to="{name: 'dashboard-sites-show'}"
        exact
        exact-active-class="text-white"
        :focused="$router.currentRoute.name === 'dashboard-sites-show'"
      >
        <q-item-section avatar>
          <q-icon name="devices" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ $t('site') }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script>
export default {
  data: () => ({
    drawerOpen: false
  }),
  computed: {
    overlayDraver () {
      return this.$route.meta.overlayDraver || false
    }
  }
}
</script>

<style lang="scss" module>
  .drawer {
    background: url("~assets/nav-bg.png") $primary;
    background-position: left 0 bottom 0;
    background-repeat: no-repeat;
    background-size: 300px 556px;
    background-attachment: fixed;
  }
</style>
