<template>
  <q-footer
    bordered
    class="bg-white text-primary"
  >
    <q-tabs
      no-caps
      active-color="primary"
      indicator-color="transparent"
      class="text-grey-10"
      inline-label
      align="justify"
    >
      <q-route-tab
        name="dashboard"
        :label="this.$t('dashboard')"
        icon="dashboard"
        :to="{name: 'dashboard'}"
        exact
      />
      <q-btn-dropdown
        auto-close
        stretch
        flat
        icon="devices"
        :label="$t(activeTab)"
        :to="{name: 'dashboard-sites-show'}"
        :class="$style.siteBtn"
        :text-color="$router.currentRoute.name === 'dashboard-sites-show' ? 'primary' : ''"
        no-caps
        dropdown-icon="arrow_drop_up"
      >
        <q-list>
          <q-item
            clickable
            @click="activeTab = 'builder'"
          >
            <q-item-section>{{ $t('builder') }}</q-item-section>
          </q-item>
          <q-item
            clickable
            @click="activeTab = 'theme'"
          >
            <q-item-section>{{ $t('theme') }}</q-item-section>
          </q-item>
          <q-item
            clickable
            @click="activeTab = 'settings'"
          >
            <q-item-section>{{ $t('settings') }}</q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-tabs>
  </q-footer>
</template>

<script>
export default {
  name: 'MobileNav',
  computed: {
    activeTab: {
      get () {
        return this.$store.state.site.activeTab
      },
      set (v) {
        this.$store.commit('site/SET_ACTIVE_TAB', v)
      }
    }
  }
}
</script>

<style module>
  .siteBtn {
    flex: 1 1 auto;
  }
</style>
