<template>
  <q-btn
    round
    flat
  >
    <q-avatar size="32px">
      <img :src="avatarUrl">
    </q-avatar>
    <q-menu>
      <q-list class="profile">
        <q-item
          :to="{name: 'profile'}"
          v-close-popup
        >
          <q-item-section>{{ $t('profile') }}</q-item-section>
        </q-item>
        <q-separator />
        <q-item
          clickable
          v-close-popup
          @click="signOut"
        >
          <q-item-section>{{ $t('signOut') }}</q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      avatarUrl: state => state.user.data.avatarUrl
    })
  },
  methods: {
    signOut () {
      this.$auth.signOut()
    }
  }
}
</script>

<style lang="scss" scoped>
  .q-list.profile {
    min-width: 200px;
  }
</style>
