<template>
  <div class="full-width q-px-sm">
    <q-tabs
      align="left"
      class="text-primary"
      v-model="activeTab"
    >
      <q-tab
        name="builder"
        :label="$t('builder')"
      />
      <q-tab
        name="theme"
        :label="$t('theme')"
      />
      <q-tab
        name="settings"
        :label="$t('settings')"
      />
    </q-tabs>
  </div>
</template>

<script>
export default {
  data: () => ({
  }),
  computed: {
    activeTab: {
      get () {
        return this.$store.state.site.activeTab
      },
      set (v) {
        this.$store.commit('site/SET_ACTIVE_TAB', v)
      }
    }
  }
}
</script>

<style>
</style>
