<template>
  <q-dialog
    :value="hasValue"
    @input="close"
    persistent
    :maximized="$q.screen.lt.sm"
    transition-show="slide-up"
    transition-hide="slide-down"
  >
    <q-card class="content">
      <q-form
        class=" flex column full-height"
        @submit="save"
      >

        <q-bar class="bg-primary text-white">
          <div class="text-weight-bold">
            {{ $t('editWidget') }}
          </div>
          <q-space />
          <q-btn
            dense
            flat
            icon="close"
            v-close-popup
          >
            <q-tooltip content-class="bg-white text-primary">{{ $t('close') }}</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="col">
          <component
            :is="field.component"
            v-for="(field, index) in fields"
            :key="index"
            v-model="models[field.name]"
            v-bind="fieldAttrs(field)"
          ></component>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            type="submit"
            color="primary"
          >{{ $t('save') }}</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { asyncLoading } from 'src/services/utils'

import * as widgets from 'src/models/widget'

export default {
  name: 'WidgetEditForm',
  props: {
    value: {
      type: Object,
      default: () => { }
    }
  },
  data () {
    return {
      models: {}
    }
  },
  computed: {
    hasValue () {
      return !isEmpty(this.value)
    },
    model () {
      return widgets[this.value.type] || { fields: {} }
    },
    fields () {
      const fields = []
      for (const field in this.model.fields) {
        fields.push({
          name: field,
          ...this.model.fields[field]
        })
      }
      return fields
    }
  },
  methods: {
    async save () {
      await asyncLoading(
        this.$store.dispatch,
        'db/widgets/update',
        { id: this.value.id, ...this.models }
      )
      this.close()
    },
    close () {
      this.$emit('input', {})
    },
    fieldAttrs (field) {
      const { name, ...attrs } = field
      return attrs
    }
  },
  watch: {
    value (v) {
      for (const field in this.model.fields) {
        this.$set(this.models, field, v[field])
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .content {
    width: 700px;
  }
</style>
